<h1>Estudiantes</h1>
<% @students.each do |student| %>
  <%= link_to "#{student.names} #{student.surnames}", student_path(student) %>
  <li>Matricula: <%= student.enrollment %></li>
  <li>Casa: <%= student.house %></li>
<% end %>

<%= link_to "Nuevo Estudiante", new_student_path %>
